<html>
    <head>
        <title>LakePi</title>
    </head>
    <body>
        {% block navbar %}
            <div class="navbar navbar-fixed-top">
                LakePi:
                <a href="{{ url_for('index') }}">Home</a>  
                <a href="{{ url_for('tstat') }}">Thermostat</a>
            </div>
            <HR>
        {% endblock %}
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}<ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul><HR>{% endif %}
        {% endwith %}
        
        {% block content %}
        {% endblock %}
        
        {% block footer %}
            <HR>
            <div class="footer">
                Mode:  {{ mode }}  |  Temp: {{ temp }}  |  Outside Temp: {{ outside_temp }}
                    |  Setpoint: {{ setpoint }}  
            </div>
        {% endblock %}
    </body>
</html>